PUBLIC_UMAMI_URL=https://analytics.ceza.ro/script.js
PUBLIC_UMAMI_SITE_ID=b6905fa8-3cf4-48d2-a4c2-6e13efe1b740
PUBLIC_TURNSTILE_SITE_KEY=your-cloudflare-turnstile-site-key
TURNSTILE_SECRET_KEY=your-cloudflare-turnstile-secret-key
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your-webhook-url
